{% extends 'base.html' %}

{% block title %}
  Lista departamentos
{% endblock title %}

{% block content %}
  {% include "includes/header.html" %}

  <div class="container">
    <h1 class="mt-3">Lista Departamentos</h1>

    <div class="row">
        <table class="table">
            <tbody>
                {%for departamento in departamentos %}
                <tr>
                    <td>{{ departamento.name }}</td>
                    <td>{{ departamento.shor_name }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'persona_app:empleados_area' departamento.shor_name %}" role="button">Ver Empleados</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
  </div>

{% endblock content %}